

#name_heading{
			color: #B22222;
		}
#profile_photo{
	 			border: 2px solid green;
}
h3{
			color: red;
			
		}
#education_heading{
			color: #B22222;
			border: 4px solid #B22222;
			}
		
